{% load static %}
<ul class="list-group list-group-horizontal types-list fs-8">
    <form
        class="list-group-item d-flex w-100 align-items-center p-0 form-inline dropdown search-form">
        <div class="input-group w-95" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" id="searchDropdown">
            <input type="text" class="form-control search-input"
                placeholder="Search for people, companies, events and more..."
                aria-label="Search" aria-describedby="search-addon">
            <div class="input-group-append">
                <button class="btn search-button" type="button"><i
                        class='bx bx-search'></i></button>
            </div>
        </div>
        <ul class="dropdown-menu notify-drop nav-drop shadow-sm"
            aria-labelledby="searchDropdown">
            <div class="notify-drop-title">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 fs-8">Search
                        Results <span
                            class="badge badge-pill badge-primary ml-2">29</span>
                    </div>
                </div>
            </div>
            <!-- end notify title -->
            <!-- notify content -->
            <div class="drop-content">
                <h6 class="dropdown-header">Peoples</h6>
                <li class="dropdown-item">
                    {% for users in username_profile_list %}
                        <section class="search-result-item">
                            <a class="image-link" href="/profile/{{users.user}}"><img class="image" src="{{users.profileimg.url}}">
                            </a>
                            <div class="search-result-item-body">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h4 class="search-result-item-heading"><a href="/profile/{{users.user}}"><b>@{{users.user}}</b></a></h4>
                                        <p class="info">{{users.location}}</p>
                                        <p class="description">{{users.bio}}</p>
                                    </div>
                                    <!-- <div class="col-sm-3 text-align-center">
                                        <p class="value3 mt-sm">$9, 700</p>
                                        <p class="fs-mini text-muted">PER WEEK</p><a class="btn btn-primary btn-info btn-sm" href="#">Learn More</a>
                                    </div> -->
                                </div>
                            </div>
                        </section>
                        {% endfor %}
                </li>
                <!-- <li class="dropdown-item">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="notify-img">
                            <img src="{% static 'images/users/user-5.png'%}"
                                alt="Search result">
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <a href="#" class="notification-user">Ruth D.
                            Greene</a>
                        <a href="#"
                            class="btn btn-quick-link join-group-btn border text-right float-right">
                            Add Friend
                        </a>
                    </div>
                </li> -->
                <!-- <h6 class="dropdown-header">Groups</h6>
                <li class="dropdown-item">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="notify-img">
                            <img src="{% static 'images/groups/group-2.jpg'%}"
                                alt="Search result">
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <a href="#" class="notification-user">Tourism</a>
                        <a href="#"
                            class="btn btn-quick-link join-group-btn border text-right float-right">
                            Join
                        </a>
                        <p class="time">2.5k Members 35+ post a week</p>
                    </div>
                </li> -->
                <!-- <li class="dropdown-item">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="notify-img">
                            <img src="{% static 'images/groups/group-1.png'%}"
                                alt="Search result">
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <a href="#" class="notification-user">Argon Social
                            Network <img
                                src="{% static 'images/theme/verify.png'%}"
                                width="10px" class="verify"
                                alt="Group verified"></a>
                        <a href="#"
                            class="btn btn-quick-link join-group-btn border text-right float-right">
                            Join
                        </a>
                        <p class="time">10k Members 20+ post a week</p>
                    </div>
                </li> -->
            </div>
            <div class="notify-drop-footer text-center">
                <a href="#">See More</a>
            </div>
        </ul>
    </form>
</ul>
<div class="bg-white py-3 px-4 shadow-sm">
    <div class="card-head d-flex justify-content-between">
        <h5 class="mb-4">Latest Active Friends</h5>
        <a href="#" class="btn btn-link">See All</a>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card group-card shadow-sm">
                <img src="{% static 'images/groups/group-1.png'%}"
                    class="card-img-top group-card-image" alt="Group image">
                <div class="card-body">
                    <h5 class="card-title">Ruth D. Greene <img
                            src="{% static 'images/theme/verify.png'%}"
                            width="10px" class="verify"
                            alt="Group verified"></h5>
                    <p class="card-text">10k Members 20+ post a week</p>
                    <div class="btn-group w-100" role="group">
                        <a href="#"
                            class="btn btn-quick-link join-group-btn border w-100">Message</a>
                        <div class="btn-group" role="group">
                            <button id="friendsMore" type="button"
                                class="btn btn-quick-link join-group-btn border btn-group-drop"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i
                                    class='bx bx-dots-horizontal-rounded'></i>
                            </button>
                            <div class="dropdown-menu"
                                aria-labelledby="friendsMore">
                                <a class="dropdown-item" href="#">Dropdown
                                    link</a>
                                <a class="dropdown-item" href="#">Dropdown
                                    link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card group-card shadow-sm">
                <img src="{% static 'images/groups/group-2.jpg'%}"
                    class="card-img-top group-card-image" alt="Group image">
                <div class="card-body">
                    <h5 class="card-title">Tourism</h5>
                    <p class="card-text">2.5k Members 35+ post a week</p>
                    <a href="#"
                        class="btn btn-quick-link join-group-btn border w-100">Join</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card group-card shadow-sm">
                <img src="{% static 'images/groups/group-3.jpg'%}"
                    class="card-img-top group-card-image" alt="Group image">
                <div class="card-body">
                    <h5 class="card-title">Reading Books</h5>
                    <p class="card-text">1.3k Members 10+ post a day</p>
                    <a href="#"
                        class="btn btn-quick-link join-group-btn border w-100">Join</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card group-card shadow-sm">
                <img src="{% static 'images/groups/group-4.jpg'%}"
                    class="card-img-top group-card-image" alt="Group image">
                <div class="card-body">
                    <h5 class="card-title">Capture The Best</h5>
                    <p class="card-text">2.8k Members 8+ post a day</p>
                    <a href="#"
                        class="btn btn-quick-link join-group-btn border w-100">Join</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




