{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'images/logo-16x16.png'%}" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Elsevier Network</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@1.9.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Styles -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="{% static 'css/components.css'%}" rel="stylesheet">
    <link href="{% static 'css/profile.css'%}" rel="stylesheet">
    <link href="{% static 'css/media.css'%}" rel="stylesheet">
    <script src="{% static 'js/load.js'%}" type="text/javascript"></script>
    <style>
        .profile-links .list-inline-item {
    padding: 8px 15px; /* Adjust the padding as needed */
    background-color: #ff7300; /* Set the background color */
}
    </style>
</head>

<body class="profile">
    <div class="container-fluid newsfeed d-flex" id="wrapper">
        <div class="row newsfeed-size">
            <div class="col-md-12 p-0">
                {% include 'navsection.html' %}
                <div class="row profile-right-side-content">
                    <div class="user-profile">
                        <div class="profile-header-background">
                            <a href="#" class="profile-cover">
                                <img src="{% static 'images/users/cover/cover-1.gif'%}" alt="Profile Header Background">
                                <div class="cover-overlay">
                                    <a href="#" class="btn btn-update-cover"><i class='bx bxs-camera'></i> Update Cover Photo</a>
                                </div>
                            </a>
                        </div>
                        <div class="row profile-rows">
                            <div class="col-md-3">
                                <div class="profile-info-left">
                                    <div class="text-center">
                                        <div class="profile-img w-shadow">
                                            <div class="profile-img-overlay"></div>
                                            <img src="{% static 'images/users/user-4.jpg'%}" alt="Avatar" class="avatar img-circle">
                                            <div class="profile-img-caption">
                                                <label for="updateProfilePic" class="upload">
                                                    <i class='bx bxs-camera'></i> Update
                                                    <input type="file" id="updateProfilePicInput" class="text-center upload">
                                                </label>
                                            </div>
                                        </div>
                                        <p class="profile-fullname mt-3">@{{user.username}}</p>
                                        <p class="profile-username mb-3 text-muted">{{user.email}}</p>
                                    </div>
                                    <!-- <div class="intro mt-4">
                                        <div class="d-flex"> -->
                                            <!-- ======================================FOLLOW and MESSAGE================================== -->
                                            <!-- <button type="button" class="btn btn-follow mr-3"><i class='bx bx-plus'></i> Follow</button>
                                            <button type="button" class="btn btn-start-chat" data-toggle="modal" data-target="#newMessageModal"><i class='bx bxs-message-rounded'></i> <span class="fs-8">Message</span></button> -->
                                            <!-- <button type="button" class="btn btn-follow" id="moreMobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='bx bx-dots-horizontal-rounded'></i> <span class="fs-8">More</span></button>
                                            <div class="dropdown-menu dropdown-menu-right profile-ql-dropdown" aria-labelledby="moreMobile">
                                                <a href="profile_post.html" class="dropdown-item">POSTS</a>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="intro mt-5 mv-hidden">
                                        <div class="intro-item d-flex justify-content-between align-items-center">
                                            <h3 class="intro-about">Intro</h3>
                                        </div>
                                        <div class="intro-item d-flex justify-content-between align-items-center">
                                            <p class="intro-title text-muted"><i class='bx bx-briefcase text-primary'></i> Web Developer at <a href="#">Company Name</a></p>
                                        </div>
                                        <div class="intro-item d-flex justify-content-between align-items-center">
                                            <p class="intro-title text-muted"><i class='bx bx-map text-primary'></i> Lives in <a href="#">City, Country</a></p>
                                        </div>
                                        <div class="intro-item d-flex justify-content-between align-items-center">
                                            <p class="intro-title text-muted"><i class='bx bx-time text-primary'></i> Last Login <a href="#">Online <span class="ml-1 online-status bg-success"></span></a></p>
                                        </div>
                                        <div class="intro-item d-flex justify-content-between align-items-center">
                                            <a href="#" class="btn btn-quick-link join-group-btn border w-100">Edit Details</a>
                                        </div>
                                    </div>
                                    <div class="intro mt-5 mv-hidden">
                                        <div class="intro-item d-flex justify-content-between align-items-center">
                                            <h3 class="intro-about">Other Social Accounts</h3>
                                        </div>
                                        <div class="intro-item d-flex justify-content-between align-items-center">
                                            <p class="intro-title text-muted"><i class='bx bxl-facebook-square facebook-color'></i> <a href="#" target="_blank">facebook.com/username</a></p>
                                        </div>
                                        <div class="intro-item d-flex justify-content-between align-items-center">
                                            <p class="intro-title text-muted"><i class='bx bxl-twitter twitter-color'></i> <a href="#" target="_blank">twitter.com/username</a></p>
                                        </div>
                                        <div class="intro-item d-flex justify-content-between align-items-center">
                                            <p class="intro-title text-muted"><i class='bx bxl-instagram instagram-color'></i> <a href="#" target="_blank">instagram.com/username</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 p-0">
                                <div class="profile-info-right">

                                    <!-- Posts section -->
                                    <div class="row">
                                        <div class="col-md-9 profile-center">
                                            <ul class="list-inline profile-links w-shadow rounded">
                                                <li class="list-inline-item profile-active">
                                                    <a href="#" class="profile-link" data-target="my-posts">My Posts</a>
                                                </li>
                                                <li class="list-inline-item profile-active">
                                                    <a href="#" class="profile-link" data-target="friends">Friends</a>
                                                </li>
                                                <li class="list-inline-item profile-active">
                                                    <a href="#" class="profile-link" data-target="photos">Photos</a>
                                                </li>
                                            </ul>
                                            <div id="profile-sections">
                                                <div id="my-posts">
                                                    {% include 'userprofile/profilepagesection.html' %}
                                                </div>
                                                <div id="friends">
                                                    {% include 'friends/friends.html' %}
                                                </div>
                                                <div id="photos">
                                                    {% include 'friends/friends.html' %}
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Core -->
    <script src="{% static 'js/jquery/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/popper/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
    <!-- Optional -->
    <script src="{% static 'js/app.js'%}"></script>
    <script src="{% static 'js/components/components.js'%}"></script>
    <script>
        $(document).ready(function() {
            // Initially show the My Posts section
            $('#my-posts').show();
            $('#friends').hide();
            $('#photos').hide();
    
            // Event handler for menu links
            $('.profile-link').on('click', function(e) {
                e.preventDefault();
                var target = $(this).data('target');
                
                // Hide all sections
                
                // Show the selected section based on the target value
                switch (target) {
                    case 'my-posts':
                        $('#my-posts').show();
                        $('#friends').hide();
                        $('#photos').hide();
                        break;
                    case 'friends':
                        $('#my-posts').hide();
                        $('#friends').show();
                        $('#photos').hide();
                        break;
                    case 'photos':
                        $('#my-posts').hide();
                        $('#friends').hide();
                        $('#photos').show();
                        break;
                    default:
                        console.log('Invalid target: ' + target);
                }
            });
        });
    </script>
    
</body></html>
